@{
    ViewData["Title"] = "Articles";
    //Все статьи + можно зайти на каждую
}

<div class="text-center">
    <h1 class="display-4">Articles</h1>
    
    @foreach (var article in ViewBag.Articles)
    {
        <div>
            <h2>@article.Title</h2>
            <p>@article.Content </p>
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ArticlePage">Открыть</a>
        </div>
        
    }

    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ArticleAdd">Создайте свою статью</a>
</div>
