@{
    ViewData["Title"] = "Article Page";
    //Можно оставить комменнт
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Article Page.</p>


    <p>@ViewBag.Article.Title</p>

</div>
