@{
    ViewData["Title"] = "Articles";
    //Все статьи + можно зайти на каждую
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Articles.</p>

    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ArticleAdd">Создайте свою статью</a>
</div>
