@{
    ViewData["Title"] = "All Comment";
}

<div class="text-center">
    <h1 class="display-4">Все комментарии</h1>

    @{
        var claimss = User.Claims.ToList();
        var claimRole = claimss[0];
        var claimUserId = claimss[1];
    }

    @foreach (var comment in ViewBag.Comments)
    {
        <div style="border: 3px solid black;">
            <p>@comment.Text</p>
            @{
                var userId = comment.UserId.ToString();
                var commentId = comment.Id.ToString();
            }

            @if (claimRole.Value == "Администратор" || claimRole.Value == "Модератор" || claimUserId.Value == userId)
            {
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="CommentEdit/@commentId">Изменить</a>
            }


        </div>
    }

</div>
