@{
    ViewData["Title"] = "Register";
    //Регистрация. После регистации редирект на дефолтную
}

<div class="text-center">
    <h1 class="display-4">Регистиация</h1>

    <form method="post" asp-controller="User" asp-action="AddUser">

        <fieldset>
            <legend>Роли:</legend>
            @foreach (var role in ViewBag.Roles)
            {
                var id = role.Id.ToString();
                var name = role.Name;

                <div>
                    <input type="radio" id="@id" name="RoleName" value="@id" checked />
                    <label for="@id">@name</label>
                </div>
            }


        </fieldset>

        <div>
            <label for="FirstName">Введите ваше имя</label>
            <input name="FirstName" id="FirstName" required />
        </div>
        <div>
            <label for="LastName">Введите вашу фамилию</label>
            <input name="LastName" id="LastName" required />
        </div>
        <div>
            <label for="Email">Введите вашу почту</label>
            <input name="Email" type="email" id="Email" required />
        </div>
        <div>
            <label for="Password">Введите пароль</label>
            <input name="Password" id="Password" required />
        </div>
        <div>
            <button>Регистрация</button>
        </div>
    </form>

    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Есть аккаунт? Войдите!</a>
</div>
