@{
    ViewData["Title"] = "User Page";
    ///Страница пользователя, где если он хозяин или админ можно уйти в редакт
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>User Page.</p>
</div>
