@{
    ViewData["Title"] = "Users";
    ///Все юзеры с возможностью перейти на страницу каждого
}

<div class="text-center">
    <h1 class="display-4">Все пользователи</h1>


    @{
        var claimss = User.Claims.ToList();
        var claimRole = claimss[0];
        var claimUserId = claimss[1];
    }

    @foreach (var user in ViewBag.Users)
    {
        <div style="border: 3px solid black;">
            <h2>Имя: @user.FirstName</h2>
            <h2>Фамилия: @user.LastName</h2>
            <p>Почта: @user.Email </p>
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="UserPage/@user.Id">Открыть</a>
        </div>


    }
</div>
